@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
    font-family:Raleway,sans-serif
}
.navbar {
    margin-bottom: 50px;
}

footer {
    margin-top: 20px;
    padding: 30px 50px;
    line-height: 0.5rem;
}